body{
	padding:0;
	margin:0;
	width:100%;
}
.g-header .m-topbar {
	height:50px;
	background-color:red;
	line-height: 50px;
	color:#fff;
	padding:0 10px;
}
.g-header .m-topbar .title {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	display: inline-block;
	width:100%;
}
.g-header .m-topbar .iconfont {
	color:#fff;
	position: absolute;
	left:10px;
}
.g-main {
	margin-top:10px;
}


.g-main .m-address .content{
	list-style-type:none;
	padding:0;
	margin:0;
}
.g-main .m-address .content li {
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	margin-bottom:10px;
	background-color:#fff;
}
.g-main .m-address .content li label {
	height:30px;
	line-height:2;
	vertical-align: middle;
	display:block;
	padding:0 10px;
}
.g-main .m-address .content li p {
	margin:0;
	height:50px;
	line-height:2;
	padding:0 10px;
	vertical-align: middle;
	text-align: left;
}
.g-main .m-address .content li p  span {
	 padding:0 5px;
	 display:inline-block;
}


 .g-footer {
	height:50px;
	position: fixed;
	left:0;
	right:0;
	bottom: 0;
	background-color:red;
	border-top:1px solid #ddd;
}
.g-footer .m-nav {
	list-style-type: none;
}
.g-footer .m-nav li {
	padding:10px 20px;
}
.g-footer .m-nav li a {
	display: block;
	background-color:red;
	color:#fff;
	height:30px;
	padding:8px 10px;
	text-align: center;
	vertical-align: middle;
} 