*{
	margin:0;
	padding:0;
}
ul,li,label,p,div,form{
	padding:0;
	margin:0;
}
body{
	padding:0;
	margin:0;
	height:100%;
	width:100%;
	overflow: hidden;
}
/*商家*/
.g-main .m-introduce {
	overflow: hidden;
	height:auto;
}
.g-main .m-introduce .header {
	height:100px;
	background-color:rgb(246, 144, 80);
	border-bottom:1px solid #f6f6f7;
	color:#fff;
}
.g-main .m-introduce .shop-introduce,.g-main .m-introduce .shop-cook-background {
	 padding:5px 20px;
	 text-indent: 5px;
	 border-bottom: 1px solid #f6f6f7;
}
.g-main .m-introduce .cook-title {
	 height:40px;
	 line-height: 40px;
	 text-align: left;
	 background-color:rgb(246, 144, 80);
	 padding:0 15px;
	 display: block;
	 color:#fff;
}
.g-main .m-introduce .header .shop-name {
	 font-size:20px;
	 padding:15px 0;
	 width:100%;
	 display: block;
	 text-align: center;
}
.g-main .m-introduce .header .shop-notice {
	padding:5px 30px;
}
.g-main .m-introduce .body ul{
	list-style-type: none;
	padding:0 5px;
}
.g-main .m-introduce .body li {
	height:50px;
	line-height: 50px;
	margin-bottom:5px;
	padding:0 10px;
	border-bottom: 1px solid #f6f6f7;
}