*{
	margin:0;
	padding:0;
}
ul,li,label,p,div,form{
	padding:0;
	margin:0;
}
html,body{
	height:100%;
	width:100%;
	overflow: hidden;
	position: fixed;
}
.g-header{
	width:100%;
}
.g-header .m-topbar {
	height:50px;
	background-color:red;
	line-height: 50px;
	color:#fff;
	padding:0 10px;
}
.g-header .m-topbar .title {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	display: inline-block;
	width:100%;
}
.g-header .m-topbar .iconfont {
	color:#fff;
	position: absolute;
	left:10px;
}


.g-main	{
}
.g-main .m-register {
	 padding:10px 20px;
	 overflow: hidden;
	 height:auto;
}
.g-main .m-register  input{
	 display: block;
	 height:40px;
	 line-height: 40px;
	 text-align: left;
	 text-indent: 10px;
	 color:#ddd;
	 font-size:18px;
	 border:1px solid #f6f6f7;
	 width:100%;
	 margin-bottom:15px;
	 outline: none;

}
.g-main .m-register button{
	 height:40px;
	 text-align: center;
	 line-height: 40px;
	 border:none;
	 background-color: red;
	 color:#fff;
	 width:100%;
	 font-size:18px;
}
