<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6972747662689" version="0.0.1">
  <name>爱点餐</name>
  <description></description>
  <author email="954525834@qq.com" href="http://www.apicloud.com">joneyphair</author>
  <content src="index.html"/>
  <preference name="appBackground" value="#fff"/>
  <preference name="pageBounce" value="false"/>
  <preference name="windowBackground" value="#fff"/>
  <preference name="frameBackgroundColor" value="#fff"/>
  <preference name="hScrollBarEnabled" value="false"/>
  <preference name="vScrollBarEnabled" value="false"/>
  <preference name="autoLaunch" value="true"/>
  <preference name="fullScreen" value="true"/>
  <preference name="autoUpdate" value="true"/>
  <preference name="smartUpdate" value="true"/>
  <preference name="debug" value="true"/>
  <preference name="iOS7StatusBarAppearance" value="true"/>
  <permission name="readPhoneState"/>
  <permission name="call"/>
  <permission name="sms"/>
  <preference name="statusBarAppearance" value="true" />
  <permission name="camera"/>
  <permission name="record"/>
  <permission name="location"/>
  <permission name="fileSystem"/>
  <permission name="internet"/>
  <permission name="bootCompleted"/>
  <permission name="hardware"/>
  <permission name="contact"/>
  <access origin="*"/>
</widget>

