html,
body,
ul,
li {
    padding: 0;
    margin: 0;
}
a,
p {
    font-size: 15px;
    font-weight: normal;

    color: #000;
}


/*bootstrap*/
.panel-header{
		border-bottom: 1px solid #ddd;
		height:50px;
		text-indent: 20px;
		line-height: 50px;
		margin:0;
}