.g-main {
	margin-top:10px;
}


.g-main .m-address .content{
	list-style-type:none;
	padding:0;
	margin:0;
}
.g-main .m-address .content li {
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	background-color:#fff;
	position: relative;
	
}
.g-main .m-address .content li label {
	height:30px;
	line-height:2;
	vertical-align: middle;
	display:block;
	padding:0 10px;
}
.g-main .m-address .content li p {
	margin:0;
	line-height:2;
	padding:0 10px;
	vertical-align: middle;
	text-align: left;
}
.g-main .m-address .content li p  span {
	 padding:0 5px;
	 display:inline-block;
}
.g-main .m-address .content li .sidebar {
	  position: absolute;
	  top:0;
	  right:0;
	  bottom:0;
	  padding:0 15px;
	  color:#ddd;
	  line-height: 90px;
	  vertical-align: middle;
	  text-align: center;
	  border-left:1px solid #f6f6f7;
}

.g-main .m-address .content li .footer {
	height:30px;
	padding:0 20px;
}
.g-main .m-address .content li .footer span {
	 width:60px;
	 color:red;
}

