
.g-main .add-comment {
}

.g-main .add-comment .comment-content {
	 height:200px;
	 border:1px solid #f6f6f7;
	 background-color:#ddd;
	 font-size:16px;
	 width:100%;
	 display:block;

}
.g-main .add-comment  .btn {
	 height:30px;
	 padding:0px 15px;
	 line-height: 30px;
	 border:1px solid #f6f6f7;
	 margin-top:10px;
	 background-color:red;
	 color:#fff;
	 border-radius:2px/2px;
	 margin-left:10px;
}