body{
}
.m-cart {
	overflow: hidden;
	height:auto;
}
.m-cart .header {
	height:80px;
	table-layout: fixed;
	width:100%;
	display: table;
	border-bottom: 1px solid #f6f6f7;
}
.m-cart .header p {
	display:table-cell;
	text-align: center;
	vertical-align: middle;
}
.m-cart .header p:first-of-type {
	 border-right:1px solid #f6f6f7;
}
.m-cart .header p .iconfont{
	font-size:25px;
	padding:0 10px;
	color:red;
}
.m-cart ul.content li{
	height:50px;
	position: relative;
	border-bottom: 1px solid #f6f6f7;
	padding:0 20px;
	
}
.m-cart ul.content li:hover{
	background-color: #f6f6f7;
}
.m-cart ul.content  .name {
	height:30px;
	line-height: 30px;
	display:block;
}
.m-cart .content .price {
	display:block;
	color:red;
	height:20px;
	line-height: 20px;
}
.m-cart .content .side{
	position: absolute;
	top:0;
	right:0;
	bottom: 0;
}

.m-cart .content .side .ui-btn,
.m-cart .content .side .count {
	float:left;
	width:60px;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
}
.m-cart .content .side .ui-btn,
.m-cart .content .side .count {
	border-left:1px solid #f6f6f7;
}
.m-cart .content .side .price {
	padding:0 10px;
}
.m-cart .content .side .ui-btn {
	color:#ddd;
}
