<!-- 个人信息 -->
   	<div class="m-personal panel panel-default">
   		<div class="panel-body text-center">
   			<img src="http://usr.im/80x80" alt="" class="img-circle">
   			<p><a href="">joneyphair</a></p>
   			<div class="btn-group">
   				    <a class="btn btn-link"><i class="glyphicon glyphicon-home"></i></a>
   					<a class="btn btn-link"><i class=" glyphicon glyphicon-comment"></i></a>
   					<a class="btn btn-link"><i class=" glyphicon glyphicon-heart"></i></a>
   			</div>
   		</div>
   		<!-- <div class="panel-footer text-center">
   			<a href="">基本信息</a>
   		</div> -->
   	</div>
   <!-- /个人信息 -->
	<!-- 快捷导航 -->
	<div class="panel pabel-default">
		<div class="panel-body">
			<div class="btn-group">
			    <button class="btn btn-default"><i class="glyphicon glyphicon-home"></i></button>
				<button class="btn btn-default"><i class=" glyphicon glyphicon-comment"></i></button>
				<button class="btn btn-default"><i class="glyphicon glyphicon-wrench"></i></button>
				<button class="btn btn-default"><i class="glyphicon glyphicon-bullhorn"></i></button>
				<button class="btn btn-default"><i class="glyphicon glyphicon-lock"></i></button>
				<button class="btn btn-default"><i class="glyphicon glyphicon-flag"></i></button>
			</div>
		</div>
	</div>
	<!-- /快捷导航 -->
	@section('side-nav')

		<!-- 菜单栏 -->
		<ul class="list-group">
			<li class="list-group-item">
				<a href="/admin/shop" class="list-group-item-heading">商家管理</a>
				<p class="list-group-item-text">
					
				</p>
					
				
			</li>
			<li class="list-group-item">
				<a class="list-group-item-heading" href="/admin/order/">订单管理</a>
				<p class="list-group-item-text">
					
				</p>
			</li>
			<li class="list-group-item">
				<a class="list-group-item-heading" href="">用户管理</a>
				<p class="list-group-item-text">
					
				</p>
			</li>
			<li class="list-group-item">
				<a class="list-group-item-heading" href="/admin/setting">系统设置</a>
				<p class="list-group-item-text">
					
				</p>
			</li>
		</ul>
		<!-- /菜单栏 -->
		
	@show
	<!-- 提示信息 -->
	<div class="alert alert-warning alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  <strong>Warning!</strong> Better check yourself, you're not looking too good.
	</div>
	<!-- ／提示信息 -->