*{
	margin:0;
	padding:0;
}
ul,li,label,p,div,form{
	padding:0;
	margin:0;
}
html,body{
	height:100%;
	width:100%;
	overflow: hidden;
	position: fixed;
}
.hiden {
	display: none;
}
.g-header{
	width:100%;
}
.g-header .m-topbar {
	height:50px;
	background-color:red;
	line-height: 50px;
	color:#fff;
	padding:0 10px;
}
.g-header .m-topbar .title {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	display: inline-block;
	width:100%;
}

.g-header .m-topbar .iconfont {
	color:#fff;
	position: absolute;
	left:10px;
}


.g-main .order-item {
	 padding:10px 10px;
}

.g-main .order-item p {
	 border-bottom: 1px solid #f6f6f7;
	 overflow: hidden;
	 height:auto;
}
.g-main .order-item p label {
	 height:40px;
	 line-height: 40px;

}
.g-main .order-item p span {
	 padding:0 20px;
	 height:40px;
	 line-height: 40px;
	 display:inline-block;

}
.g-main .order-item  .order-list{
	 list-style-type: none;
	 padding:0 15px;
}
.g-main .order-item  .order-list li{
	 height:40px; 
	 width:100%;
	 border-bottom: 1px solid #f6f6f7;

}
.g-main .order-item  .order-list li span {
	text-align:left;
	 width:50px;
	 height:40px;
	 display:inline-block;
	 line-height: 40px;
	 text-align: center;
	 
}
.g-main .order-item  .order-list li span.name {
	 width:100px;
	 text-align: left;
}

.g-main .order-item  .order-list li .comment-btn {
	 display: inline-block;
	 color:red;

}