*{
	margin:0;
	padding:0;
}
ul,li,label,p,div,form{
	padding:0;
	margin:0;
}
html,body{
	height:100%;
	width:100%;
	overflow: hidden;
	position: fixed;
}
.g-header{
	width:100%;
	position: fixed;
}
.g-header .m-topbar {
	height:50px;
	background-color:red;
	line-height: 50px;
	color:#fff;
	padding:0 10px;
}
.g-header .m-topbar .title {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	display: inline-block;
	width:100%;
	color:#fff;
}
.g-header .m-topbar .iconfont {
	color:#fff;
	position: absolute;
	left:10px;
}

.g-footer {
	position: fixed;
	bottom: 0;
	left:0;
	right:0;
}
.g-footer .btn a {
	height:50px;
	line-height: 50px;
	background-color:red;
	text-align: center;
	color:#fff;
	text-decoration: none;
	display:block;
}