html,
body {
    width: 100%;
    height: 100%;

    background-color: #fff;
}
.g-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;

    height: 50px;
}
.g-header .m-nav {
    border: none;
    border-radius: 0;
    background-color: #c01c23;
}

.g-header .m-nav .navbar-nav > li > a {
    color: #fff;
}
.g-header .m-nav  .navbar-brand {
    color: #fff;
}
.g-header .m-nav .navbar-brand {
    width: 300px;

    text-align: center;
}
.g-main {
    position: absolute;
    top: 50px;
    right: 230px;
    left: 230px;

    min-height: 100%;
    padding: 20px 40px;
}
.g-lside {
    position: fixed;
    top: 50px;

    display: block;
    width: 230px;
    height: 100%;
    overflow-y: auto;

    border-right: 1px solid #eaeaea;
    background-color: #f6f6f7;
}
.g-lside .m-nav {
    position: relative;

    display: inline-block;
    float: left;
    width: 50px;
    min-height: 100%;
    overflow-y: auto;

    list-style-type: none;

    border-right: 1px solid #eaeaea;
    background-color: #f7f7f8;
}
.g-lside .m-nav li a {
    display: block;
    padding: 30px 0;

    line-height: 50px;

    text-align: center;

    color: #000;
    border-bottom: 1px solid #eaeaea;
}
.g-lside .m-content {
    float: left;
    width: 178px;
}

.g-lside .m-content .list-group {
    padding: 10px 20px;
    margin: 0;

    border: none;
    border-bottom: 1px solid #eaeaea;
    border-radius: 0;
    background-color: transparent;
}

.g-lside .m-content .list-group-item {
    text-align: center;

    border: none;
    border-color: #eaeaea;
    border-radius: 0;
    background-color: transparent;
}


.g-rside {
    position: fixed;
    top: 50px;
    right: 0;

    width: 230px;
    height: 100%;
    padding: 10px;
    overflow-y: auto;

    border-left: 1px solid #eaeaea;
    background-color: #eaeaea;
}
.g-footer {
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 60px;
    overflow: hidden;
}
