
.g-main {

}
.g-main .set-password-form {
	 padding:30px 20px;
	 overflow: hidden;
	 height:auto;

}

.g-main .set-password-form input {
	  display: block;
	 height:40px;
	 line-height: 40px;
	 text-align: left;
	 text-indent: 10px;
	 color:#ddd;
	 font-size:18px;
	 border:1px solid #f6f6f7;
	 width:100%;
	 margin-bottom:15px;
	 outline: none;

	
}
.g-main .set-password-form button {
	 height:40px;
	 width:100%;
	 line-height: 40px;
	 text-align: center;
	 border:1px solid red;
	 background-color:red;
	 color:#fff;
	 margin-top:20px;
}