body{
	padding:0;
	margin:0;
}
.m-order {
	overflow: hidden;
	height:auto;
}
.m-order .item {
	overflow: hidden;
	height:auto;
	padding:0 20px;
	border-bottom:1px solid #f6f6f7;
	background-color:transparent;
}
.m-order .item .header {
	height:40px;
	font-size:24px;
	line-height:2.5;
	display: block;
}
.m-order .item .content {
	font-size:18px;
	line-height:1.3;
	overflow: hidden;
}
.m-order  .item .footer{
	overflow: hidden;
	height:auto;	
}
.m-order  .item  .order-id {
	display:block;
	 height:40px;
	 line-height: 40px;
}
.m-order  .item .footer .btn-comment {
	display: block;
	color:red;
	text-align: center;
	line-height: 40px;
	height:40px;
	font-size:15px;
	text-align: left;
	text-decoration: none;
}
