 *{
	margin:0;
	padding:0;
}
ul,li,label,p,div,form{
	padding:0;
	margin:0;
}
html,body{
	height:100%;
	width:100%;
	overflow: hidden;
	position: fixed;
}
.hiden {
	display: none;
}
.g-header{
	width:100%;
}
.g-header .m-topbar {
	height:50px;
	background-color:red;
	line-height: 50px;
	color:#fff;
	padding:0 10px;
}
.g-header .m-topbar .title {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	display: inline-block;
	width:100%;
}
.g-header .m-topbar .iconfont {
	color:#fff;
	position: absolute;
	left:10px;
}




 .g-footer {
	height:50px;
	position: fixed;
	left:0;
	right:0;
	bottom: 0;
	background-color:red;
	border-top:1px solid #ddd;
}
.g-footer .m-nav {
	list-style-type: none;
}
.g-footer .m-nav li {
	padding:10px 20px;
}
.g-footer .m-nav li a {
	display: block;
	background-color:red;
	color:#fff;
	height:30px;
	padding:8px 10px;
	text-align: center;
	vertical-align: middle;
} 
