
.g-main .m-aboutUs {
	padding:20px 10px;
}
.g-main .m-aboutUs  p {
	line-height: 2;
	text-indent: 20px;
}

.g-main .m-nav {
	list-style-type: none;
	line-height: 2;
	margin-bottom:10px;
	border-right: none;
	margin-top:30px;
}
.g-main .m-nav  li{
	border-bottom:1px solid  #f6f6f7;
	line-height: 50px;
	height:50px;
	position: relative;
}
.g-main .m-nav  li:last-of-type{
	border:none;
}
.g-main .m-nav  li  {
	text-decoration: none;
	color:#000;
	font-size:15px;
	display: block;
}
.g-main .m-nav li  i.iconfont{
  color:#297CBB;
  display:inline-block;
  font-size:20px;
  padding:0 8px;
}